body {
  background: cornsilk;
  background-image: url("./log-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.pure-button {
  border-radius: 1em;
   -webkit-border-radius: 1em;
}